.deleteButton {
  background-color: #ff4136;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #ff1717;
}
