form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.error-message {
  color: #FF385C;
  font-size: 12px;
  font-weight: 500;
  margin: 4px 0;
}

.error-message.above-input {
  margin-bottom: -4px;
}

.error-input {
  border-color: #FF385C;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
}

input {
  padding: 8px 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
}

input:focus {
  border-color: #000000;
  outline: none;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #0077b6;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #023e8a;
}

p {
  color: red;
  font-size: 0.8em;
}
