.hidden {
  display: none;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
  background-color: #000000;
}

.logoContainer {
}

.profileContainer {
}
