.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #000000;
  height: 7rem;
}

.logoContainer {
  margin-right: auto;
}
.addSpotButtonContainer {
  justify-self: flex-end;
  margin-right: 1rem;
}
.profileContainer {
  width: 5rem;
}
